{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">

<h2>Системные блоки</h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
 <!-- <div class="panel-heading">Список доступных для продажи готовых системных блоков</div>-->
  <!-- Table -->
  <table class="table">
  <tr>
  <th>ID</th>
  <th>PC</th>
  <th>Price</th>
  <th>History</th>
  <th>Status</th>
  <th>Действие</th>
  </tr>
  {% for pc in pc_list %}
    <tr>
        <td>{{ pc.id }}</td>
        <td><em>CPU:</em> {{ pc.CPU }}<br>
            <em>MB:{{ pc.MB }}</em><br>
            <em>Video:{{ pc.video }}</em><br>
            <em>RAM:</em> {{ pc.RAM }} GB<br>
            <em>HDD:</em> {{ pc.HDD }} GB<br>
            <em>Comment:</em> {{ pc.comment }}
        </td>
        <td>{{ pc.price }} грн</td>
        <td><em>Собран:</em> {{ pc.assembly_by }} ( {{ pc.assembly_time }})<br>
            <em>Подтвержден:</em> {{ pc.approved_by }} ( {{ pc.approved_time }} )<br>
            <em>Забронирован:</em> {{ pc.buyer }} ( {{ pc.reserved_time }} )<br>
            <em>Кем продан:</em> {{ pc.sold_by }} ( {{ pc.sale_time }} )<br>
        </td>
        <td>{{ pc.status.description }}</td>
        <td>
        {% if pc.status.description == "Reserved" %}
            <form action="{{ url_for('manage_pc') }}" method="post">
                <button type="submit" class="btn btn-primary" name ="approve" value="{{ pc.id }}">Снять резерв</button>
            </form>
            <br>
            <form action="{{ url_for('manage_pc') }}" method="post">
                <button type="submit" class="btn btn-success" name ="sold" value="{{ pc.id }}">Продать</button>
            </form>

        {% elif pc.status.description == "Assembled" and current_user.username in approve %}
            <form action="{{ url_for('manage_pc') }}" method="post">
                <button type="submit" class="btn btn-warning" name ="approve" value="{{ pc.id }}">Подтвердить</button>
            </form>
            <br>
            <form action="{{ url_for('edit_pc') }}" method="post">
                <button type="submit" class="btn btn-primary" name ="edit" value="{{ pc.id }}">Изменить описание</button>
            </form>

         {% elif pc.status.description == "Approved" %}
            <form action="{{ url_for('manage_pc') }}" method="post">
                <button type="submit" class="btn btn-info" name ="reserve" value="{{ pc.id }}">Зарезервировать</button>
            </form>

        {% else %}
            Позиция продана
        {% endif %}
        </td>
    </tr>
  {% endfor %}
  </table>
</div>
</div>


{% endblock %}